$black: #333333;
$light-grey: #cccccc;
$grey: #dddddd;
$pink: #c724b1;
$purple: #5734a3;
$blue: #00a9ce;
$dark-blue: #00205c;
$white: #ffffff;

.black {
  color: $black;
}

.white {
  color: $white;
}

.light-grey {
  color: $grey;
}

.grey {
  color: $grey;
}

.pink {
  color: $pink;
}

.purple {
  color: $purple;
}

.blue {
  color: $blue;
}

.dark-blue {
  color: $dark-blue;
}
